body {
  display: flex;
  margin: 0px;
  padding: 0px;
  justify-content: center;
}

#navbar {
  width: 100%;
  background-color: black;
  color: white;
  margin: 0px;
  padding: 5px;
}


#time-graph {
  width: 90vw;
  min-width: 500px;
}

.input-form {
  display: flex;
  margin: auto;
  margin-top: 10vh;
  border: 3px solid gray;
  width: 40%;
  min-width: 300px;
  justify-content: center;
}

.label {
  margin: 5px;
  padding: 5px;
  min-width: 80px;
  background-color: green;
  color: white;
  border-radius: 5px;
  text-align: center;
  justify-content: center;
}

#username-input {
  border:2px solid rgba(128, 128, 128, .9);
  width: 100%;
  height: 20px;
  margin: auto;
  
}

#submit-button {
  font-weight: bold;
  font-size: 20px;
  background-color: lightgray;
  border: 2px solid gray;
  border-radius: 5px;
  text-align: center;
  justify-content: center;
  margin: 5px 3px;
}

#submit-button:hover {
  background-color: rgba(192, 192, 192, .5);
}

#submit-button:active {
  background-color: lightgray;
}

#user-stats {
  border: black solid 1px;
  margin: 10px 0px;
  padding: 10px;
}

.doughnut-chart-container {
  display: grid;
  margin: 0px;
  width: 100%;
  grid-template-columns: auto auto auto;
}

.doughnut-container {
  display: inline-grid;
  width:30vw;
  height:30vw;
  padding: 0px;
  margin: 0px;
}

#display-username {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.error {
  color: rgba(255, 0, 0, 1);
}

.loading {
  color: rgba(0, 0, 255, 1);
}

.message {
  font-size: 1.5em;
  text-align: center;
  font-weight: 600;
}

#display-message {
  display: flex;
  justify-content: center;
}